.DS_Store
thumbs.db
desktop.ini
._*
*.o
*.a
*.exe
*.lib
/libBitIO/BUILD/*
libBitIO/src/OldCode.c
*.html
*.xcuserstate
*.xcbkptlist
project.xcworkspace/
xcuserdata/
libBitIO/OLDCODE/*

# Windows stuff
.vs/*
*.pdb
*.db
*.obj
*.dll
*.lib
*.exe
*.tlog
*.log
*.pch
*.opendb
*.suo
*.json
*.sqlite
*.ipch
*.idb
*.ini
